
.container {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    overflow: auto;
}


tbody tr:nth-child(2n+1) {
    background-color: rgba(128, 128, 128, 0.082);
    border-collapse: collapse;
}


td, tr, th {
    padding: 10px 100px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.26);
    font-size: 16px;
    font-weight: 500;
}



/*Desktop version*/
@media (max-width:1024px) {
    td, tr, th {
        padding: 8px 20px 8px 10px;
    }

}


/*Tablet version*/
@media (max-width: 768px) {
    td, tr,th {
        padding: 8px;
    }
}


/* Mobile version */
@media (max-width:480px) {
    td, tr, th {
        padding: 8px 5px 8px 3px;
    }

}
